project:
  type: website
  output-dir: _site

website:
  title: "UKRI Digital Research Skills Catalyst"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: search.qmd
        text: Search
      - href: about.qmd
        text: About
format:
  html:
    theme: cosmo
    css: style.css
    code-fold: true
