/* styles.css */
h1 {
  color: #FFF;
  padding-bottom: 0.3em;
  padding-top: 1em;
}

h2 {
  border-bottom: none;
}

body.index {
  font-family: "Inter", sans-serif;
  background-color: #FAFBFB;
}

.navbar {
  background-color: #FAFBFB;
  max-width: 800px;
  margin: 0 auto;
}

.navbar-title {
  font-weight: 600;
  color: #0A2441;
}

#quarto-header > nav {
  padding: 10px 0px 10px 0px;
}

.navbar-nav {
  font-weight: 600;
}

.navbar-container {
  padding: 10px 0px 10px 0px;
}

.navbar a {
  color: #000;
}

body.index main {
  max-width: 1200px;
  margin: 0 auto;
}

body.index .content {
  margin: 0 auto;
  position: relative;
  background-color: #0A2441;
  color: #FFF;
  padding: 25px 50px;
  border-radius: 10px;
  overflow: hidden;
}

body.index .content::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("assets/binary.png");
  background-repeat: repeat;
  background-position: right top;
  background-size: 96px 96px;
  filter: invert(1);
  opacity: 0.2;
}

body.index .content::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: linear-gradient(
    to bottom left,
    rgba(10, 36, 65, 0) 0%,
    rgba(10, 36, 65, 1) 40%
  );
}

body.index .content > * {
  position: relative;
  z-index: 1;
}

#quarto-container {
  max-width: 1700px;
  margin: 0 auto;
}
