/* UKRI Digital Research Skills Catalyst Styling */

/* Overall page style */
.navbar {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 2em;
  color: #58579B;
  text-align: center;
}

h2 {
  border-bottom: none;
  padding: 0;
  margin: 1em 0;
}

/* The Hero section */
.hero {
  margin: 1em auto;
  position: relative;
  background-color: #E0F1FA;
  border: 1px solid #29A69D;
  color: #2E2D62;
  padding: 1em;
  border-radius: 8px;
}

/* .hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("assets/binary.png");
  background-repeat: repeat;
  background-position: right top;
  background-size: 96px 96px;
  filter: invert(1);
  opacity: 0.2;
} */

/* .hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: linear-gradient(
    to bottom left,
    rgba(46, 45, 98, 0) 0%,
    rgba(46, 45, 98, 1) 40%
  );
} */

.hero h2 {
  font-size: 1.25em;
}

/* .hero > * {
  position: relative;
  z-index: 1;
} */

/* The Search functionality on the main page */

.primary-search {
  background: #F5F3EF;
  border: 1px solid #DDD9E2;
  border-radius: 8px;
  margin: 0;
  padding: 0.25em;
}

/* This keeps the main search box 100% */
.primary-search div.cell div form {
  width: 100%;
}

#primary-filters {
  margin: 0;
  padding: 1em;
  font-size: small;
}

.primary-filter-toggle div.cell {
  width: 100%;
  text-align: center;
  font-size: tiny;
}

.primary-filter-toggle div.cell a {
  color: #9088A4;
  font-size: 0.75em;
  text-decoration: none;
}

#primary-search-results div.panel-sidebar {
  background: #F5F3EF !important;
  border: 1px solid #DDD9E2;
  border-radius: 8px;
  margin: 1em 0 0 0;
  padding: 1em;
}

.primary-search-results {
  border: 1px solid #DDD9E2;
  /* border-radius: 8px; */
  font-size: 0.75em;
  margin: 1em 0 0 0;
  padding: 1em;
}

.observablehq input[type="text"] {
  border: 1px solid #DDD9E2;
  border-radius: 6px;
  padding: 6px;
  box-shadow: none;
}

/* The Course data block */

div.course-data {
  width: 100%;
  border: 1px solid #DDD9E2;
  background: #F5F3EF;
  border-radius: 4px;
  padding: 1em 1em 0 1em;
  margin: 1em 0;
  font-size: 0.8rem;
}

div.featured {
  background: #E0F1FA;
}

div.course-data h3,a {
  font-size: 1rem;
  margin-top: 0;
  font-weight: bold;
}

div.course-data-empty {
  width: 100%;
  border: none;
  padding:1em;
  margin:1em 0;
}

div.course-data-empty p {
  text-align: center;
  color: #0A2441;
}
