/* UKRI Digital Research Skills Catalyst Styling */

/* Overall page style */
.navbar {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 2em;
  color: #2E2D62;
  text-align: center;
}

h2 {
  border-bottom: none;
  padding: 0;
  margin: 1em 0;
}

/* The Hero section */
.hero {
  margin: 1em auto;
  position: relative;
  background-color: #E0F1FA;
  border: 1px solid #29A69D;
  color: #2E2D62;
  padding: 1em;
  border-radius: 8px;
}

.hero h2 {
  font-size: 1.25em;
}

/* The Search functionality on the main page */
.primary-search {
  background: #F5F3EF;
  border: 1px solid #DDD9E2;
  border-radius: 8px;
  margin: 0;
  padding: 0.25em;
}

/* This keeps the main search box 100% */
.primary-search div.cell div form {
  width: 100%;
}

#primary-filters {
  margin: 0;
  padding: 1em;
  font-size: small;
}

.primary-filter-toggle div.cell {
  width: 100%;
  text-align: center;
  font-size: tiny;
}

.primary-filter-toggle div.cell a {
  color: #9088A4;
  font-size: 0.75em;
  text-decoration: none;
}

#primary-search-results div.panel-sidebar {
  background: #F5F3EF !important;
  border: 1px solid #DDD9E2;
  border-radius: 8px;
  margin: 1em 0 0 0;
  padding: 1em;
}

#primary-filters button {
  border: 1px solid #DDD9E2;
  background: white;
  border-radius: 6px;
  padding: 6px;
  box-shadow: none;
  margin: 5px;
  width: 100%;
  font-size: 0.75em;
}

.primary-search-results {
  border: 1px solid #DDD9E2;
  /* border-radius: 8px; */
  font-size: 0.75em;
  margin: 1em 0 0 0;
  padding: 1em;
}

.observablehq input[type="text"] {
  border: 1px solid #DDD9E2;
  border-radius: 6px;
  padding: 6px;
  box-shadow: none;
  margin: 5px;
}

/* The Course data block */
div.course-data {
  width: 100%;
  border: 1px solid #DDD9E2;
  background: #F5F3EF;
  border-radius: 0;
  padding: 1em 1em 0 1em;
  margin: 1em 0;
  font-size: 0.8rem;
}

div.featured {
  border-left: 5px solid #29A69D;
  position: relative;
}

.featured::after {
  content: "featured"; 
  position: absolute;
  top: 5px;
  right: 10px;
  color: #29A69D;
  font-size: 1em;
  line-height: 1;
}

div.course-data h3,a {
  font-size: 1rem;
  margin-top: 0;
  font-weight: bold;
}

div.course-data div.course-data-extras {
  display: none;
  width: 100%;
  font-size: 0.75rem;
}

.course-data-extras table {
  width: 100%;
  background: #F5F3EF !important;
}

.course-data-extras table tr th, td {
  border-bottom: 1px solid #DDD9E2;
}

.course-data-extras table tr:last-child th, .course-data-extras table tr:last-child td {
  border-bottom: none;
}
.course-data-extras table tr th {
  width: 10em;
}

div.course-data-empty {
  width: 100%;
  border: none;
  padding:1em;
  margin:1em 0;
}

div.course-data-empty p {
  text-align: center;
  color: #0A2441;
}

div.course-data .toggle-state {
  display: none;
}

div.course-data .toggle-button {
  width: 100%;
  color: #9088A4;
  text-align: right;
  font-size: 0.75em;
}

div.course-data .toggle-state:checked ~ .toggle-button::after {
content: "collapse details";
}
div.course-data .toggle-button::after {
  content: "expand details";
}

div.course-data .toggle-state:checked ~ .course-data-extras {
  display: block;
}

div.news {
  margin: 1em auto;
  background: #F5F3EF;
  border: 1px solid #DDD9E2;
  border-radius: 8px;
  padding: 0 1em;
}

div.news h2 {
  font-size: 1.25em;
  color: #2E2D62;
}
